.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  

}

.header-logo {
  height: 40px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 5px 10px;
}

input[type="text"] {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #349292;
}

button {
  background-color: #39cdcc;
    border: 1px solid #349292;
    border-bottom-right-radius: 10px;
    height: 45px;
    padding: 10px;
}

button:focus {
  outline: none;
}

.doc {
  text-decoration: underline;
  color:#333333;
  margin-left: 3rem;
  display: flex;
}

.notification-icon {
  font-size: 24px;
  display:flex;
  color:#000;
  margin-left: 3rem;
}

.icons {
  display: flex;
}

.contact-icon {
  font-size: 15px;
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-left: 10rem;
}


.info {
  display: flex;
  margin-left: 20px;
}

.remove, .remove3 {
  display: none;
}


@media screen and (max-width: 576px) {
  .header {
    width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;

  }


  .search-container {
    margin-left: 2rem;
  }

  

  input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #349292;
  }

  .remove2,

  .doc {
    display: none;
  }

  .contact-icon {
    margin-left: 2rem;
  }


.info {
  margin-left: 0.5rem;
  position: relative;
  right: 0;
}
}
@media screen and (min-width: 600px) 
    and (max-width: 719px) {
      .header {
        border: none;
      }

      .search-container {
        margin-left: 2rem;
      }

      .icons {
        margin-left: 29rem;
      }

      input[type="text"] {
        width: 300px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #349292;
      }
    }


 @media screen and (min-width: 768px) and (max-width: 1024px) {
      .header {
        border: 1px solid #ccc;
        width: 100%;
        padding: 10px 20px;
        border: none;
      }

      .header-logo {
        width: 60px;
        margin-left: 0.4rem;
      }

      .search-container {
        margin-left: 2rem;
      }

      input[type='text'] {
        width: 180px;
      }

      .doc {
        margin-left: 0.5rem;
      }

      .icons {
        margin-left: 0.2rem;
      }

      .contact-icon {
        margin-left: 1rem;
      }


      .notification-icon {
        margin-right: 2rem;
      }

      .info {
        position: relative;
        right: 0;
        justify-content: flex-end;
        margin-right: 5rem;
      
      }
  

      
    }  
    
   