.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  max-width: 100%; 
  border: 1px solid #ccc;

}

.header-logo {
  height: 40px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 5px 10px;
}

input[type="text"] {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #349292;
}

button {
  background-color: #39cdcc;
    border: 1px solid #349292;
    border-bottom-right-radius: 10px;
    height: 45px;
    padding: 10px;
}

button:focus {
  outline: none;
}

.doc {
  text-decoration: underline;
  color:#333333;
  margin-left: 3rem;
  display: flex;
}

.notification-icon {
  font-size: 24px;
  display:flex;
  color:#000;
  margin-left: 3rem;
}

.icons {
  display: flex;
}

.contact-icon {
  font-size: 15px;
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 100%;

}


.info {
  display: flex;
  margin-left: 20px;
}

@media screen and (max-width: 576px) {
  .header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;

  } 

  .header-logo {
    height: 30px;
  }
  .search-container {
    margin-left:40px;
  }
  input[type="text"] {
    width: 90px;
    padding: 10px;
    border: 1px solid #349292;
  }

  .doc {
    display: none;
  }

  .icons {
    margin-left: 4rem;
  }

  }

  @media screen and (max-width: 768px) {

    .header {
      max-width: 100%;
    }
      input[type="text"] {
        width: 200px;
        padding: 10px;
        border: 1px solid #349292;
      }

    }

@media screen and (max-width: 992px) {
    .header {
      width: 100%; 
    }
      input[type="text"] {
        width: 250px;
        padding: 10px;
        border: 1px solid #349292;
      
    }
  }

   @media screen and (min-width: 1024px) and (max-width: 1399px) {
    .header {
      width: 100%;
    }
  } 

  @media screen and (min-width: 1400px) and (max-width: 1800px) {
    .header {
      width: 100%;
    }

    .icons {
      position: relative;
      right: 0;
          }
  }

       