.input-form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 20vw;
    z-index: 1;
    margin-left: 2rem;
  }


  
  .input-form label {
    font-weight: bold;
  }

  .input-form input,
  .input-form #email {
    width: 100%;
  }
  
  .input-form input,
  .input-form select {
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  
  .input-form select {
    width: 100%;
  }
  .white {
    background: #fff;
    width: 40%;
    border-radius: 10rem;
    
  }
  .color {
    width: 40%;
    border-radius: 10rem;
  }

  .buttons {
    display: flex;
    margin-top: 4px;
  
  }

   @media screen and  (max-width: 900px) {
    .input-form {
      width: 60%;
      margin-left: 2rem;

    }
   }

  @media screen and (max-width: 768px) {
    .input-form {
    width: 70%;
    margin-left: 2rem;
    }

 
  }