.ListG {
    width: 17%; 
    justify-content: flex-start;     
    position: absolute;
    left: 0;
}

#link22, #link1, #link2, #link3, #link4, #link5, #link6, #link7, #link8, #link9, #link10, #link11, #link12,
#link13, #link14, #link15, #link16, #link17, #link18, #link19, #link20, #link21 {
    color: #213f7d;
}

@media screen and (max-width:576px) { 
    .list-container {
        display: none;
    }
}

@media screen and (max-width:667px) {
    .list-container {
        display: none;
    }
}



@media screen and (min-width: 768px) 
and (max-width: 1024px) {
    .ListG {
    width: 30vw;
    justify-content: flex-start;     
    position: relative;
    left: 0;
    margin-right: 1rem;

    }
}
@media screen and (min-width: 589px) 
    and (max-width: 719px) {
        .ListG {
            width: 37vw;
        }
    }
 
 
@media screen and (min-width: 1074px) and (max-width: 1100px) {
    .ListG {
        width: 22vw;
    }
}

@media screen and (min-width: 1025px) 
    and (max-width: 1060px) {
        .ListG {
            width: 22vw;
        }
    }


@media screen and (min-device-width: 1200px) 
and (max-device-width: 1400px) {
.ListG {
    width: 19vw
}

}


