.user-container {
    max-width: 70%;
    padding: 10px; 
    display: flex;
    margin-left: 17rem;
  
  } 
 
  .custom-card {
    margin:20px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(86, 51, 51, 0.1); 

  }

  .this {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%
   
  }

.svg1 {
  background-color: #fdfafd;
  padding:6px;
  border-radius: 100%;
  
}

.svg2 {
  background-color: #eee8ff;
  padding:8px;
  border-radius: 100%;

}

.svg3 {
  background-color: #f1cac3;
  padding:8px;
  border-radius: 100%;
  

 
}
.svg4 {
  background-color: #f1cac3;
  padding:8px;
  border-radius: 100%;
}





@media screen and (max-width: 576px) {
  .user-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    width: 100%;
    margin-left: 1rem;
    gap: 5px;   
  
}

.custom-card {
  width: 200px;
}




.this {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  padding-left: 35px ;
 
}

} 

@media screen and (max-width: 768px) {
  .user-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    max-width: 30%;
    margin-left: 1rem;
    gap: 2px;   
  
}
.custom-card {
  width: 180px;
}
}

@media screen and (max-width: 992px) {
  .user-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    max-width: 30%;
    margin-left: 1rem;
    gap: 2px;   
  
}
 .custom-card {
  width: 180px;
  
}

  } 

  @media screen and (max-width: 1024px) {
    .user-container {
      width: 50%;
      margin-left: 0.1rem;
    }
  }

  @media screen and (max-width: 1200px)  {
    .user-container {
      width: 100%;
      margin-left: 0.1rem;
    }
    .custom-card {
      width: 350px;
    }
  }
