.user-container {
    width: 80%;
    padding: 10px; 
    display: flex;
  
  } 
 
  .custom-card {
    margin: 10px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(86, 51, 51, 0.1); 

  }

  .this {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%
   
  }

.svg1 {
  background-color: #fdfafd;
  padding:6px;
  border-radius: 100%;
  
}

.svg2 {
  background-color: #eee8ff;
  padding:8px;
  border-radius: 100%;

}

.svg3 {
  background-color: #f1cac3;
  padding:8px;
  border-radius: 100%;
  

 
}
.svg4 {
  background-color: #f1cac3;
  padding:8px;
  border-radius: 100%;
}





@media screen and (max-width: 576px) {
  .user-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    width: 100%;
    margin-left: 2rem;
    gap: 2rem;   
  
}

.custom-card {
  width: 280px;
}




.this {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  padding-left: 35px ;
 
}

}

 @media screen and (max-width: 768px)  {
      .user-container {
        width: 72%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      
      }
      .custom-card {
        width: 200px;
      }
    }

    @media screen and (max-width: 992px) {
      .user-container {
        width: 72%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
      
      }

      .custom-card {
        width: 200px;
      }
    }

    @media screen and (max-width: 1024px)  {
      .user-container {
        width: 72%; 
      }

      .custom-card {
        width: 200px;
      }
    }

    @media screen and (min-width: 1024px) and (max-width: 1199px) {
      .user-container {
        margin-left: 14rem;
      }
    }



    @media screen and (min-width: 1200px) and (max-width: 1400px) {
     .user-container {
      margin-left: 14rem;
     }

     .custom-card {
      width: 250px;
    }
    }

    @media screen and (min-width: 1400px) and (max-width: 1800px) {
      .user-container {
        margin-left: 16rem;
      }

      .custom-card {
        width: 350px;
      }
    }
  
