.main-page {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
 
  .content-container {
    display: flex;
  }

  .mainbar {
    max-width: 1400px;
  }
  
  .sidebar {
    padding: 10px;
  }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



 