.main-page {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
 
  .content-container {
    display: flex;
    position: relative;
  }
  
  .sidebar {
    padding: 10px;
  }


  

 